<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="0; url='/index.html'"/> <!--DELETE THIS LINE-->
        <meta charset="UTF-8">
        <meta name="description" content="INSERT PROJECT HERE Update Gallery">
        <meta name="keywords" content="NoKodaAddictions, NoKoda">
        <meta name="author" content="NoKoda">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link itemprop="image" href="https://drive.google.com/uc?export=view&id=11xXk5fVuL5aLEnecYSsUqLiAwwh_G0JR">
        <link rel="shortcut icon" href="https://drive.google.com/uc?export=view&id=11xXk5fVuL5aLEnecYSsUqLiAwwh_G0JR">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!--Credit To w3schools.com-->
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>INSERT PROJECT HERE Update History| NoKoda</title>
    </head>
    <header class="w3-animate-opacity">
        <h2>INSERT PROJECT HERE Update History</h2>
        <button onclick="window.location.href='/index.html'">Home</button>
        <button onclick="window.location.href='/[PROJECT PATH]'">Project Info</button>
        <hr/>
    </header>
    <body class="w3-animate-opacity">
        <div class="grid">
            <div class="card">
                <h2>INSERT VERSION</h2>
                <p>INSERT DATE</p>
                <hr>
                <p>INSERT UPDATE DESCRIPTION</p>
            </div>
            <div class="card">
                <h2>Older Updates</h2>
                <p>Older Updates Will Not Be Shown Here</p>
                <hr>
                <button onclick="window.open('https://github.com/NoKodaAddictions/[PROJECT REPOSITORY]/commits/main')">Go To Commit History</button>
            </div>
        </div>
    </body>
    <br>
    <footer class="w3-animate-opacity">
        <hr/>
        <div class="footergrid">
            <img src="https://drive.google.com/uc?export=view&id=11xXk5fVuL5aLEnecYSsUqLiAwwh_G0JR" height="50">
            <button onclick="window.open('https://github.com/NoKodaAddictions')">GitHub</button>
            <button onclick="window.open('https://www.youtube.com/channel/UCZpglibs4u5zWTv-hRiOgvQ')">YouTube</button>
            <img src="https://drive.google.com/uc?export=view&id=1etRKOKhKGPYUh2wiQR6xDnzAHqVb9tdr" height="49" width="57">
        </div>
        <p>2021 NoKodaAddictions</p>
    </footer>
</html>